/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Main App container */
.App {
  text-align: center;
  max-width:auto; /* Set a max-width for the app container */
  margin: 0 auto; /* Center the app container */
  padding: 20px;
}

/* Header styles */
.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Navigation styles */
nav {
  margin: 20px 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #61dafb;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #21a1f1;
}

/* Welcome section styles */
.welcome {
  margin-top: 20px; /* Adjust margin for welcome section */
  background-color:lightgrey;
  padding: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Button styles */
button {
  margin-top: 50px;
  padding: 10px 15px;
  border: solid black 1px; /* Added border thickness */
  border-radius: 5px;
  background-color: #61dafb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block; /* Centering block element */
  width: 200px; /* Fixed width */
  margin-left: auto; /* Centering horizontally */
  margin-right: auto; /* Centering horizontally */
}

button:hover {
  background-color: #21a1f1;
}

/* Form styles */
input[type="file"] {
  margin-top: 10px;
  display: block; /* Centering block element */
  width: 500px; /* Fixed width */
  margin-left: auto; /* Centering horizontally */
  margin-right: auto; /* Centering horizontally */
}

input {
  margin-top: 20px;
  display: block; /* Centering block element */
  width: 500px; /* Fixed width */
  padding: 10px;
  margin-left: auto; /* Centering horizontally */
  margin-right: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  border-color: #61dafb;
  outline: none;
}
